{% extends "base.html" %}

{% block content %}
<h3>
    Predicting:
    <small class="text-muted">{{pred}}</small>
</h3>
<hr>
<form action='/end' method='POST'>
    <!-- Age -->
    {% if predictor!=0 %}
    <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" name="age">
    </div>
    {% endif %}
    {% if predictor!=1 %}
    <!-- Work Class -->
    <div class="form-group">
        <label for="workclass">Work Class</label>
        <select class="form-control" id="workclass", name="workclass">
            <option>Private</option>
            <option>Self-emp-not-inc</option>
            <option>Self-emp-inc</option>
            <option>Federal-gov</option>
            <option>Local-gov</option>
            <option>State-gov</option>
            <option>Without-pay</option>
            <option>Never-worked</option>
        </select>
    </div>
    {% endif %}
    {% if predictor!=2 %}
    <!-- Education -->
    <div class="form-group">
        <label for="education">Education</label>
        <select class="form-control" id="education", name="education">
            <option>Bachelors</option>
            <option>Some-college</option>
            <option>11th</option>
            <option>HS-grad</option>
            <option>Prof-school</option>
            <option>Assoc-acdm</option>
            <option>Assoc-voc</option>
            <option>9th</option>
            <option>7th-8th</option>
            <option>12th</option>
            <option>Masters</option>
            <option>1st-4th</option>
            <option>10th</option>
            <option>Doctorate</option>
            <option>5th-6th</option>
            <option>Preschool</option>
        </select>
    </div>
    {% endif %}
    {% if predictor!=3 %}
    <!-- Education Num -->
    <div class="form-group">
        <label for="education-num">Education Num (Years):</label>
        <input type="text" class="form-control" id="education-num", name="education-num">
    </div>
    {% endif %}
    {% if predictor!=4 %}
    <!-- Marital Status -->
    <div class="form-group">
        <label for="marital-status">Marital Status:</label>
        <select class="form-control" id="marital-status", name='marital-status'>
            <option>Married-civ-spouse</option>
            <option>Divorced</option>
            <option>Never-married</option>
            <option>Separated</option>
            <option>Widowed</option>
            <option>Married-spouse-absent</option>
            <option>Married-AF-spouse</option>
        </select>
    </div>
    {% endif %}
    {% if predictor!=5 %}
    <!-- Occupation -->
    <div class="form-group">
        <label for="occupation">Occupation:</label>
        <select class="form-control" id="occupation", name="occupation">
            <option>Tech-support</option>
            <option>Craft-repair</option>
            <option>Other-service</option>
            <option>Sales</option>
            <option>Exec-managerial</option>
            <option>Prof-specialty</option>
            <option>Handlers-cleaners</option>
            <option>Machine-op-inspct</option>
            <option>Adm-clerical Farming-fishing</option>
            <option>Transport-moving</option>
            <option>Priv-house-serv</option>
            <option>Protective-serv</option>
            <option>Armed-Forces</option>
        </select>
    </div>
    {% endif %}
    {% if predictor!=6 %}
    <!-- Relationship -->
    <div class="form-group">
        <label for="relationship">Relationship:</label>
        <select class="form-control" id="relationship", name="relationship">
            <option>Wife</option>
            <option>Own-child</option>
            <option>Husband</option>
            <option>Not-in-family</option>
            <option>Other-relative</option>
            <option>Unmarried</option>
        </select>
    </div>
    {% endif %}
    {% if predictor!=7 %}
    <!-- Race -->
    <div class="form-group">
        <label for="race">Race:</label>
        <select class="form-control" id="race", name="race">
            <option>White</option>
            <option>Asian-Pac-Islander</option>
            <option>Amer-Indian-Eskimo</option>
            <option>Other</option>
            <option>Black</option>
        </select>
    </div>
    {% endif %}
    {% if predictor!=8 %}
    <!-- Sex -->
    <div class="form-group">
        <label for="sex">Sex:</label>
        <select class="form-control" id="sex", name="sex">
            <option>Male</option>
            <option>Female</option>
        </select>
    </div>
    {% endif %}
    {% if predictor!=9 %}
    <!-- Capital Gain -->
    <div class="form-group">
        <label for="capital-gain">Capital Gain:</label>
        <input type="text" class="form-control" id="capital-gain", name="capital-gain">
    </div>
    {% endif %}
    {% if predictor!=10 %}
    <!-- Capital Loss -->
    <div class="form-group">
        <label for="capital-loss">Capital Loss:</label>
        <input type="text" class="form-control" id="capital-loss", name="capital-loss">
    </div>
    {% endif %}
    {% if predictor!=11 %}
    <!-- Hours per Week -->
    <div class="form-group">
        <label for="hours-per-week">Hours per Week:</label>
        <input type="text" class="form-control" id="hours-per-week", name="hours-per-week">
    </div>
    {% endif %}
    {% if predictor!=12 %}
    <!-- Native Country -->
    <div class="form-group">
        <label for="native-country">Native Country:</label>
        <select class="form-control" id="native-country", name="native-country">
            <option>United-States</option>
            <option>Cambodia</option>
            <option>England</option>
            <option>Puerto-Rico</option>
            <option>Canada</option>
            <option>Germany</option>
            <option>Outlying-US(Guam-USVI-etc)</option>
            <option>India</option>
            <option>Japan</option>
            <option>Greece</option>
            <option>South</option>
            <option>China</option>
            <option>Cuba</option>
            <option>Iran</option>
            <option>Honduras</option>
            <option>Philippines</option>
            <option>Italy</option>
            <option>Poland</option>
            <option>Jamaica</option>
            <option>Vietnam</option>
            <option>Mexico</option>
            <option>Portugal</option>
            <option>Ireland</option>
            <option>France</option>
            <option>Dominican-Republic</option>
            <option>Laos</option>
            <option>Ecuador</option>
            <option>Taiwan</option>
            <option>Haiti</option>
            <option>Columbia</option>
            <option>Hungary</option>
            <option>Guatemala</option>
            <option>Nicaragua</option>
            <option>Scotland</option>
            <option>Thailand</option>
            <option>Yugoslavia</option>
            <option>El-Salvador</option>
            <option>Trinadad&Tobago</option>
            <option>Peru</option>
            <option>Hong</option>
            <option>Holand-Netherlands.</option>
        </select>
    </div>
    {% endif %}
    {% if predictor!=13 %}
    <!-- Income -->
    <div class="form-group">
        <label for="income">Income (=&lt50k or &gt50k)</label>
        <select class="form-control" id="income", name="income">
            <option>&gt50k/option>
            <option>=&lt50k</option>
        </select>
    </div>
    {% endif %}
    <button id="submit" type="submit" class="btn btn-lg btn-block btn-success">Submit</button>
</form>
{% endblock %}