<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Tensorflow</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../script.js"></script>
</head>

<body>
    <div class="container">
        <div class="py-4 text-center">
            <h1>
                Proyecto 4: 
                <small class="text-muted">Tensorflow</small>
            </h2>
        </div>
        <form action='/end' method='POST'>
            <!-- Edad -->
            <div class="form-group">
                <label for="edad">Edad</label>
                <input type="text" class="form-control" id="edad" name="edad">
            </div>
            <!-- Work Class -->
            <div class="form-group">
                <label for="workclass">Clase de Trabajo</label>
                <select class="form-control" id="workclass", name="workclass">
                    <option>Private</option>
                    <option>Self-emp-not-inc</option>
                    <option>Self-emp-inc</option>
                    <option>Federal-gov</option>
                    <option>Local-gov</option>
                    <option>State-gov</option>
                    <option>Without-pay</option>
                    <option>Never-worked</option>
                </select>
            </div>
            <!-- Education -->
            <div class="form-group">
                <label for="education">Educación</label>
                <select class="form-control" id="education", name="education">
                    <option>Bachelors</option>
                    <option>Some-college</option>
                    <option>11th, HS-grad</option>
                    <option>Prof-school</option>
                    <option>Assoc-acdm</option>
                    <option>Assoc-voc</option>
                    <option>9th</option>
                    <option>7th-8th</option>
                    <option>12th</option>
                    <option>Masters</option>
                    <option>1st-4th</option>
                    <option>10th</option>
                    <option>Doctorate</option>
                    <option>5th-6th</option>
                    <option>Preschool</option>
                </select>
            </div>
            <!-- Education Num -->
            <div class="form-group">
                <label for="education-num">Años de Educación</label>
                <input type="text" class="form-control" id="education-num", name="education-num">
            </div>
            <!-- Marital Status -->
            <div class="form-group">
                <label for="marital-status">Estado Marital</label>
                <select class="form-control" id="marital-status", name='marital-status'>
                    <option>Married-civ-spouse</option>
                    <option>Divorced</option>
                    <option>Never-married</option>
                    <option>Separated</option>
                    <option>Widowed</option>
                    <option>Married-spouse-absent</option>
                    <option>Married-AF-spouse</option>
                </select>
            </div>
            <!-- Occupation -->
            <div class="form-group">
                <label for="occupation">Ocupación</label>
                <select class="form-control" id="occupation", name="occupation">
                    <option>Tech-support</option>
                    <option>Craft-repair</option>
                    <option>Other-service</option>
                    <option>Sales</option>
                    <option>Exec-managerial</option>
                    <option>Prof-specialty</option>
                    <option>Handlers-cleaners</option>
                    <option>Machine-op-inspct</option>
                    <option>Adm-clerical Farming-fishing</option>
                    <option>Transport-moving</option>
                    <option>Priv-house-serv</option>
                    <option>Protective-serv</option>
                    <option>Armed-Forces</option>
                </select>
            </div>
            <!-- Relationship -->
            <div class="form-group">
                <label for="relationship">Relación</label>
                <select class="form-control" id="relationship", name="relationship">
                    <option>Wife</option>
                    <option>Own-child</option>
                    <option>Husband</option>
                    <option>Not-in-family</option>
                    <option>Other-relative</option>
                    <option>Unmarried</option>
                </select>
            </div>
            <!-- Race -->
            <div class="form-group">
                <label for="race">Raza</label>
                <select class="form-control" id="race", name="race">
                    <option>White</option>
                    <option>Asian-Pac-Islander</option>
                    <option>Amer-Indian-Eskimo</option>
                    <option>Other</option>
                    <option>Black</option>
                </select>
            </div>
            <!-- Sex -->
            <div class="form-group">
                <label for="sex">Sexo</label>
                <select class="form-control" id="sex", name="sex">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <!-- Capital Gain -->
            <div class="form-group">
                <label for="capital-gain">Ganancia de Capital</label>
                <input type="text" class="form-control" id="capital-gain", name="capital-gain">
            </div>
            <!-- Capital Loss -->
            <div class="form-group">
                <label for="capital-loss">Pérdida de Capital</label>
                <input type="text" class="form-control" id="capital-loss", name="capital-loss">
            </div>
            <!-- Hours per Week -->
            <div class="form-group">
                <label for="hours-per-week">Horas por Semana</label>
                <input type="text" class="form-control" id="hours-per-week", name="hours-per-week">
            </div>
            <!-- Native Country -->
            <div class="form-group">
                <label for="native-country">País de Origen</label>
                <select class="form-control" id="native-country", name="native-country">
                    <option>United-States</option>
                    <option>Cambodia</option>
                    <option>England</option>
                    <option>Puerto-Rico</option>
                    <option>Canada</option>
                    <option>Germany</option>
                    <option>Outlying-US(Guam-USVI-etc)</option>
                    <option>India</option>
                    <option>Japan</option>
                    <option>Greece</option>
                    <option>South</option>
                    <option>China</option>
                    <option>Cuba</option>
                    <option>Iran</option>
                    <option>Honduras</option>
                    <option>Philippines</option>
                    <option>Italy</option>
                    <option>Poland</option>
                    <option>Jamaica</option>
                    <option>Vietnam</option>
                    <option>Mexico</option>
                    <option>Portugal</option>
                    <option>Ireland</option>
                    <option>France</option>
                    <option>Dominican-Republic</option>
                    <option>Laos</option>
                    <option>Ecuador</option>
                    <option>Taiwan</option>
                    <option>Haiti</option>
                    <option>Columbia</option>
                    <option>Hungary</option>
                    <option>Guatemala</option>
                    <option>Nicaragua</option>
                    <option>Scotland</option>
                    <option>Thailand</option>
                    <option>Yugoslavia</option>
                    <option>El-Salvador</option>
                    <option>Trinadad&Tobago</option>
                    <option>Peru</option>
                    <option>Hong</option>
                    <option>Holand-Netherlands.</option>
                </select>
            </div>
            <!-- Income -->
            <div class="form-group">
                <label for="income">Ingreso</label>
                <select class="form-control" id="income", name="income">
                    <option>Más que 50K</option>
                    <option> Menos que 50K </option>
                </select>
            </div>
            <button id="submit" type="submit" class="btn btn-lg btn-block btn-success">Submit</button>
        </form>
        <div class="py-4">
        </div>
    </div>


</body>

</html>
