{% extends "base.html" %}

{% block content %}
<form action='/fill' method='POST'>
    <div class="form-group">
        <label for="predictor"><b>I want to predict:</b></label>
        <select class="form-control" id="predictor", name="predictor">
            <option>Age</option>
            <option>Workclass</option>
            <option>Education</option>
            <option>Education Num</option>
            <option>Marital Status</option>
            <option>Occupation</option>
            <option>Relationship</option>
            <option>Race</option>
            <option>Sex</option>
            <option>Capital Gain</option>
            <option>Capital Loss</option>
            <option>Hours per Week</option>
            <option>Native Country</option>
            <option>Income (=&lt50k or &gt50k)</option>
        </select>
    </div>
    <button id="submit" type="submit" class="btn btn-lg btn-block btn-success">Go</button>
</form>
{% endblock %}