<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Tensorflow</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../script.js"></script>
</head>

<body>
    <div class="container">
        <div class="py-4 text-center">
            <h1>
                Proyecto 4: 
                <small class="text-muted">Tensorflow</small>
            </h2>
        </div>
        <form action='/' method='POST'>
            <!-- Edad -->
            <div class="form-group">
                <label for="edad">Edad</label>
                <input type="text" class="form-control" id="edad">
            </div>
            <!-- Income -->
            <div class="form-group">
                <label for="income">Ingreso</label>
                <select class="form-control" id="income">
                    <option>Más que 50K</option>
                    <option> Menos que 50K </option>
                </select>
            </div>
            <button id="submit" type="submit" class="btn btn-lg btn-block btn-success" name='form'> Submit </button>
        </form>
        <div class="py-4">
        </div>
    </div>
</body>

</html>
